*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #58888f;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*Botões para alterar entre a empresa e usuário*/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;

}

button{
    min-height: 40px;
    min-width: 100px;
    border-radius: 25px;
}


/*Exibição dos usuários e empresas*/
.display{
    margin-top: 20px;
    border: 1px solid;
    max-width: 400px;
    border-radius: 10px;
    background-color: #f0f0f0;
    overflow-y: auto;
}

.display::-webkit-scrollbar {
    width: 10px;
}

.display::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.display::-webkit-scrollbar-thumb {
    background: #888;
}

.display::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.display li{
    list-style-type: none;
    border: 1px solid;

}

/*Competencias*/

.competencias-container{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.comptencias-lista{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.competencia-item{
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;


}

.competencia-item input[type="checkbox"]{
    margin-right: 5px;
}

.nova-competencia input{
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
}

.nova-competencia button{
    padding: 5px 10px;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: 10px;
}



form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #ccc;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #afafaf;
}

#cricaoFormulario{
    margin-top: 20px;
}

#buttonCriacao{
    margin-bottom: 10px;
}

form div{
    margin-top: 10px;
}

div h2{
    color: #f4f4f4;
}

/*Estilisando a lista*/

ul {
    min-width: 400px;
    min-height: 400px;

    max-width: 400px;
    max-height: 400px;

    gap: 10px;
    row-gap: 10px;
}

#line-chart {
    max-width: 200px;
    max-height: 200px;
    height: auto;
}

#criacaoGrafico {
    display: none; /* Inicialmente escondido */
    width: 80%;
    margin: 20px auto;
}

#grafico{
    max-width: 600px;
    max-height: 600px;
    margin: 20px auto;
    width: 100% !important;
    height: auto !important;
}